name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build
      run: |
        cd src
        go build -v -o ../cpu_monitor .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: cpu-monitor-${{ github.run_id }}-${{ github.run_attempt }}
        path: cpu_monitor
        